<article class="panel is-warning">
  <p class="panel-heading">
    <%= @author.name %>
    <%= link_to 'Edit author', edit_author_path(@author), class: 'button is-info' %>
    <%= link_to "Destroy", 
      author_path(@author), 
      data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure?",
      },
      class: 'button is-danger' 
    %>
  </p>
</article>
<article class="panel is-info">
  <p class="panel-heading">
    Add a book:
  </p>
  <p class="panel-block">
    <%= render 'books/form' %>
  </p>
</article>
<article class="panel is-link">
  <p class="panel-heading">
    List of books:
  </p>
  <p class="panel-block"
  <%= render @author.books %>
  </p>
</article>
