<%= form_with model: [ @author, @author.books.build ] do |form| %>
    <p>
      <%= form.label :title %><br>
      <%= form.text_field :title, class: 'input is-primary' %>
    </p>
    <p>
      <%= form.label :description %><br>
      <%= form.text_area :description, class: 'textarea is-primary' %>
    </p>
    <p>
      <%= form.submit class: 'button is-success' %>
    </p>
  <% end %>